.loginFormCard {
  width: 60%;
  border-radius: 20px;
  box-shadow: 0 80px 80px 0 rgba(10, 5, 5, 0.2),
    0 80px 80px 0 rgba(58, 32, 32, 0.8);
}

.whenHover:hover {
  box-shadow: 0 4px 4px 0 rgba(82, 50, 50, 0.2),
    0 20px 20px 0 rgba(58, 32, 32, 0.8);
  transition: 1s;
}

.whenHover:focus {
  box-shadow: 0 4px 4px 0 rgba(82, 50, 50, 0.2),
    0 20px 20px 0 rgba(58, 32, 32, 0.8);
}

@media only screen and (max-width: 800px) {
  .loginFormCard {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 4px 4px 0 rgba(10, 5, 5, 0.2),
      0 20px 20px 0 rgba(58, 32, 32, 0.8);
  }
}
